@media (max-width:1400px){

    .about .box2 div h2 {
        margin: 11px 0;
      
    }

}

@media (max-width:1320px){
    .service {
       
        padding: 31px 0;
      
    }
    .service .all-box .box {
      
        width: 47%;
        margin: 0;
        margin-bottom: 41px;
        box-sizing: border-box;
        padding: 0 112px;
    }
    .about .box1 img {
        float: none;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
        padding: 0 3%;
    }
    .about .box2 div p {
      
        margin-bottom: 26px;
        font-size: 15px;
    }

    .about .box2 div {
        width: 100%;
        float: none;
        text-align: left;
        margin-right: 0;
       
        box-sizing: border-box;
        padding: 0 3%;
    }
    .about {
        padding-top: 38px;
       
        margin-bottom: 71px;
    }
    .contuct .address div {
        margin: 0px 66px;
    }
}

@media (max-width:920px){
    .header {
        padding: 24px;
    }
    .header .logo {
        width: 100%;
        float: none;
        line-height: normal;
       text-align: center;
       margin-bottom: 20px;
     
    }
    .header .menu {
        width: 100%;
        text-align: center;
        line-height: normal;
    }
    .baner {
        padding: 120px;
    }
   
    .service .title p {
        font-family: sans-serif;
        margin-bottom: 47px;
        color: rgb(85,85,85);
    }
    .service .all-box .box {
      
        padding: 0 87px;
    }
    .about {
        padding-top: 40px;
      
    }

    .contuct .address div {
        margin: 0px 58px;
    }
   
}
@media (max-width:820px){
    .baner .title {
        font-size: 21px;
        text-transform: uppercase;
    }
    .baner {
        padding: 90px;
    }
    .baner .subtitle {
        font-size: 20px;
        margin-top: 8px;
      
    }
    .baner .button button {
        
        margin-top: 24px;
    
    }
   
    .contuct .address div {
        margin: 0px 39px;
    }
}
@media (max-width:720px){
    
    .header .menu{
        display: inline;
        position: absolute;
        top: 100%;
        left: -100%;
        background: #076453;
        transition: .5s;
       
    }
    .contuct {
      
        padding: 40px 0;
       
    }
    .footer-icon {
      
        padding: 13px 0;
    }
    .contuct .address div {
       
        display: block;
        margin-bottom: 37px;
    }
    .header{
        position: relative;
    }
    .header .logo {
      text-align: left;
      margin-bottom: 0;
      float: left;
      width: 50%;
    }

    .header .checkbutton i{
        display: block;
        text-align: right;
         padding-right: 20px;
    }

    .header .menu ul li{
        display: block;
    }
    .header .menu ul li a {
        padding: 15px 0;
        font-size: 18px;
    }
    .header .menu ul li:hover{
        background: rgba(34, 195, 163, 0.63);
    }

    #check:checked ~ .menu{
               left: 0;
    }
    .baner {
        padding: 96px;
    }

    .service {
        padding: 2px 0;
    }
    .service .title h1 {
      
        margin: 19px 0px;
      
    }
    .service .title p {
      
        margin-bottom: 0px;
     
    }

    .service .all-box .box {
        width: 100%;
       
    }
}
@media (max-width:620px){
    .baner .title {
        font-size: 16px;
      
    }
    .baner {
        padding: 64px;
    }
    .baner .subtitle {
        font-size: 15px;
        margin-top: 7px;
       
    }
}
@media (max-width:520px){
    .header .logo {
      
        width: 80%;
    }

    .header .checkbutton i {
      
        text-align: center;
    }

    .baner .button button {
      
        padding: 7px 7px;
       
    }
    .baner {
        padding: 46px 0;
    }
    .service .all-box .box .icon {
     
        font-size: 32px;
        margin: 15px 0;
    }
  
    .service .title p {
      
        box-sizing: border-box;
        padding: 0 20px;
    }
}

@media (max-width:350px){
    .header .logo {
       
        font-size: 28px;
    }
    footer {
       
        padding: 13px 0;
        font-size: 12px;
    }
    .baner {
        padding: 39px 0;
    }
    .baner .subtitle {
        font-size: 10px;
       
    }
    .baner .title {
        font-size: 13px;
    }
}
